<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/submitnewvisitor" >
    <p>
        <label for="firstName">First name </label>
        <input type="text" name="firstName" id="firstName">
    </p>
    <p>
        <label for="surname">Surname </label>
        <input type="text" name="surname" id="surname">
    </p>
    <p>
        <label for="yearOfBirth">Year of birth </label>
        <input type="text" name="yearOfBirth" id="yearOfBirth">
    </p>
    <p th:each="themePark : ${themeParkList}">
        <label th:for="${themeParkStat.index}"
               th:text="${themePark.getName()}"></label>
        <input type="radio" name="themeParkIndex"
               th:value="${themeParkStat.index}"
               th:id="${themeParkStat.index}" th:checked="${themeParkStat.index} == 0"/>
    </p>
    <p>
        <input type="submit" name="submit" value="Continue and generate park code" >
    </p>
</form>
<a href="/">Back to the home page</a>
</body>
</html>