<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Theme Park start</title>
    <link rel="stylesheet" type="text/css" href="img/style.css" />
</head>
<body>
<h1>Mijn app</h1>
<p><a href="/1_newVisitor">New visitor</a></p>
<p><a href="/3_newStaff">New staff member</a></p>
<p><a href="/5_staffList">List of staff</a></p>
<p><a href="/6_visitorList">List of visitors</a></p>
<p><a href="/7_newThemePark">New park</a></p>
<p><a href="/8_parkList">List of theme parks</a></p>
<p><a href="/9_newAttraction">New attraction</a></p>

</body>
</html>